<h2><%= @result_hash["Title"] %></h2>

<div class="left">
  <img src="<%= @result_hash["Poster"] %>" alt="">
</div>

<div class="right">
  <p>Title: <%= @result_hash["Title"] %></p>
  <p>Year: <%= @result_hash["Year"] %></p>
  <p>Duration: <%= @result_hash["Runtime"] %></p>
  <p>Genre: <%= @result_hash["Genre"] %></p>
  <p>Director: <%= @result_hash["Director"] %></p>
  <p>Description: <%= @result_hash["Plot"] %></p>
  <p>Metascore: <%= @result_hash["Metascore"] %>/100</p>
</div>